<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JSON Template</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
        /* Custom CSS for grayscale hint */
        .grayscale-hint {
            color: #999; /* Grayscale color for hint */
        }
        input {
            width: calc(50%); /* Adjust the width of the input fields */
            margin: 5px; /* Add margin for spacing */
            padding: 5px; /* Add padding for spacing */
        }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Документ</h1>
            <table class="table">
                <tbody>
                    <!-- Display other fields here -->
                </tbody>
            </table>
            <p>
                <strong>Наименование документа</strong>
            </p>
            <input type="text" id="description-input" value="{{ data.description }}">
            {% for group in data.grouped_fields %}
                <h2>{{ group.name }}</h2>
                <table class="table">
                    <tbody>
                        {% for field in group.fields %}
                            <tr>
                                <td>
                                    <p>
                                        <strong>{{ field.name }}</strong>
                                    </p>
                                    <p>
                                        <span class="grayscale-hint">{{ field.hint }}</span>
                                    </p>
                                    <input type="text"
                                           id="field-{{ field.id }}"
                                           field_id="{{ field.id }}"
                                           value="{{ field.value }}">
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
            <!-- h2>Ungrouped Fields</h2 -->
            <table class="table">
                <tbody>
                    {% for field in data.ungrouped_fields %}
                        <tr>
                            <td>
                                <p>
                                    <strong>{{ field.name }}
                                    </p>
                                    <p>
                                        <span class="grayscale-hint">{{ field.hint }}</span>
                                    </p>
                                    <input type="text"
                                           id="field-{{ field.id }}"
                                           field_id="{{ field.id }}"
                                           value="{{ field.value }}">
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button class="btn btn-primary" id="save-button">Сохранить</button>
                <button class="btn btn-primary" id="download-pdf">Скачать PDF</button>
                <button class="btn btn-primary" id="download-docx">Скачать DOCX</button>
            </div>
            <!-- Bootstrap JS -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var downloadPdfButton = document.getElementById("download-pdf");
                    if (downloadPdfButton) {
                        downloadPdfButton.addEventListener("click", function() {
                            // Get the data.id value from the JSON or assign it directly
                            var dataId = "{{ data.id }}";
                            
                            // Send GET request to /addr/{data.id}
                            fetch("/api/v1/document/" + dataId + "/download/?pdf=true")
                                .then(response => response.blob())
                                .then(blob => {
                                    var a = document.createElement('a');
                                    a.href = URL.createObjectURL(blob);
                                    // a.download = 'document.pdf';  // Set the filename for the downloaded file
                                    document.body.appendChild(a);
                                    a.click();
                                    document.body.removeChild(a);
                                });
                        });
                    }
                    
                    var downloadDocxButton = document.getElementById("download-docx");
                    if (downloadDocxButton) {
                        downloadDocxButton.addEventListener("click", function() {
                            // Get the data.id value from the JSON or assign it directly
                            var dataId = "{{ data.id }}";
                            
                            fetch("/api/v1/document/" + dataId + "/download/")
                                .then(response => response.blob())
                                .then(blob => {
                                    var a = document.createElement('a');
                                    a.href = URL.createObjectURL(blob);
                                    a.download = 'document.docx';  // Set the filename for the downloaded file
                                    document.body.appendChild(a);
                                    a.click();
                                    document.body.removeChild(a);
                                });
                        });
                    }

                    
                    var saveButton = document.getElementById("save-button");
                    if (saveButton) {
                        saveButton.addEventListener("click", function() {
                            description = document.getElementById("description-input").value;
                            var inputFields = document.querySelectorAll("input[id^='field-']");
                            var fields = [];
                            var completed = true
                            
                            inputFields.forEach(function(input) {
                                var fieldId = input.getAttribute("field_id");
                                var fieldValue = input.value;
                                var field = {
                                    "field_id": fieldId,
                                    "value": fieldValue
                                };
                                if (fieldValue === "") {
                                    completed = false;
                                    return;
                                }
                                fields.push(field);
                            });
                            
                            // Create the JSON content
                            var jsonContent = {
                                "description": description,
                                "template_id": {{ data.template_id }},
                                "completed": completed,
                                "fields": fields
                            };

                            // Send the PUT request with the JSON content
                            fetch("/api/v1/document/{{ data.id }}", {
                                method: "PUT",
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: JSON.stringify(jsonContent)
                            })
                            .then(response => {
                                // Handle the response here
                                console.log(response);
                            })
                            .catch(error => {
                                // Handle any errors here
                                console.error(error);
                            });
                        });
                    }
                    
                });
            </script>
        </body>
    </html>
